<app-nav-menu></app-nav-menu>
<div class="header">
    <img src="././assets/images/photo1.png">
    <div class="title">
      <div style="text-align:center">
        <strong>SEALAMAT DATANG</strong>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-8">
      <div class="panel">
          <div class="panelTitle orange">
            <div class="titleText">
              KULINER
            </div>
            <hr class="panelline" />
          </div>
          <div class="panelBody">
            <div class="imgBody">
              <img src="././assets/images/makanan1.jpg">
              <div class="title">
                <strong> Warung Makan Aman</strong>
              </div>
              <div class="titleItem">
                1 Minute Ago <span><strong>Admin</strong></span>
              </div>
            </div>
            <div class="items">
              <div class="item">
                <img src="././assets/images/makanan2.jpg">
                <div class="content">
                  <h5>Judul</h5>
                  <div class="label label-orange">
                    <span>Kuliner</span>
                  </div>
                  <div class="label-content"> ini adalah content dari isi</div>
                </div>
              </div>
              <div class="item">
                <img src="././assets/images/makanan4.png">
                <div class="content">
                  <h5>Judul</h5>
                  <div class="label label-orange">
                    <span>Kuliner</span>
                  </div>
                  <div class="label-content"> ini adalah content dari isi</div>
                </div>
              </div>
              <div class="item">
                <img src="././assets/images/makanan5.jpg">
                <div class="content">
                  <h5>Judul</h5>
                  <div class="label label-orange">
                    <span>Kuliner</span>
                  </div>
                  <div class="label-content"> ini adalah content dari isi</div>
                </div>
              </div>
    
            </div>
          </div>
    
    
        </div>
        <div class="panel">
            <div class="panelTitle green">
              <div class="titleText">
                AKOMODASI
              </div>
              <hr class="panelline" />
            </div>
            <div class="panelBody">
              <div class="imgBody">
                <img src="././assets/images/hotel1.jpg">
                <div class="title">
                  <strong>Hotel Idaman</strong>
                </div>
                <div class="titleItem">
                  1 Minute Ago <span><strong>Admin</strong></span>
                </div>
              </div>
              <div class="items">
                <div class="item">
                  <img src="././assets/images/hotel2.jpg">
                  <div class="content">
                    <h5>Judul</h5>
                    <div class="label label-green">
                      <span>Kuliner</span>
                    </div>
                    <div class="label-content"> ini adalah content dari isi</div>
                  </div>
                </div>
                <div class="item">
                  <img src="././assets/images/hotel3.jpg">
                  <div class="content">
                    <h5>Judul</h5>
                    <div class="label label-green">
                      <span>Kuliner</span>
                    </div>
                    <div class="label-content"> ini adalah content dari isi</div>
                  </div>
                </div>
                <div class="item">
                  <img src="././assets/images/makanan5.jpg">
                  <div class="content">
                    <h5>Judul</h5>
                    <div class="label label-green">
                      <span>Kuliner</span>
                    </div>
                    <div class="label-content"> ini adalah content dari isi</div>
                  </div>
                </div>
      
              </div>
            </div>
      
      
          </div>
          
  </div>
  <div class="col-md-4">
    <div class="panel">
      <div class="panelTitle blue">
        <div class="titleText">
          Info
        </div>
        <hr class="panelline" />
      </div>
      <div class="panelBody">

      </div>


    </div>
  </div>
