<h2>Paket Layanan</h2>
{{Data}}
<div class="adminpanel">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of layanans">
      <div class="panel border box-shadow sm-2">
        <div class="panelBody ">
          <div class="imgBody">
            <img [src]="item.thumb">
            <div class="menuIcon" placement="bottom-right" ngbDropdown #myDrop="ngbDropdown">
              <a class="btn" id="dropdownManual" ngbDropdownToggle></a>
              <div class="dropdown" ngbDropdownMenu aria-labelledby="dropdownManual">
                <a class="btn" style="display:block" (click)="editItem(item,content)" ngbDropdownItem>Edit</a>
              </div>
            </div>
            <div class="title">
              <div class="label" [class.label-orange]="item.type=='Kuliner'"
                   [class.label-blue]="item.type=='Destinasi'"
                   [class.label-green]="item.type=='Akomodasi'">
                <span>{{item.Active}}</span>
              </div>
            </div>
            <div class="titleItem">
              <h4>{{item.name}}</h4>
            </div>
          </div>
          <div class="items">
            <div class="item" style="min-height:0px;background-color:transparent !important">
              <div class="adminContent" style="height:50px !important">
                <div class="label-content"> ini adalah Baru dari isi</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<swal #swalMessage title="" text="" type="info" [showCancelButton]="false"></swal>



<div class="addItem">
  <i class="material-icons btn" (click)="addNewItem(content)">add_circle</i>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="saveItem(form.value)">
      <div class="form-group">
        <label>Nama Paket</label>
        <input formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label>Harga</label>
        <input formControlName="price" class="form-control">
      </div>
      <div class="form-group">
        <label for="agentName">Content</label>
        <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </div>

</ng-template>
