<div class="header">
  <img src="././assets/images/cover3.jpg">
  <div class="search">
    <app-search></app-search>
  </div>
  <div class="title">
    <div style="text-align:center">
      <strong>SELAMAT DATANG</strong>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div *ngFor="let item of Datas">
        <main-panel [DataPanel]="item"></main-panel>
      </div>
    </div>
    <div class="col-md-4">
      <berita-panel></berita-panel>
    </div>
    
  </div>
</div>

