<div class="main">
  <div class="headercontainer">
    <img src="../assets/images/photo1.png" alt="Cinque Terre">
    <div class="center">
      <h1>DINAS PARIWISATA JAYAWIJAYA</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="dinasContent">
      <h1>Test</h1>
      <label class="label">{{Selected.title}}</label>
      <input placeholder="title" class="form-control" [(ngModel)]="Selected.title">
      <angular-editor [(ngModel)]="Selected.draft" [config]="editorConfig"></angular-editor>
      <button (click)="save(Selected,'publish')">Publis</button>
      <button (click)="save(Selected,'draf')">Save As Draf</button>
    </div>
  </div>
  <div class="col-md-2">
    <div class="dinasMenu">
      <button (click)="getContent('profile')">Profile</button>
      <button>Visi Dan Misi</button>
      <button>Struktur</button>
      <button>Kontak</button>
    </div>
  </div>
</div>



