<div class="main">
  <div class="headercontainer">
    <img src="../assets/images/photo1.png" alt="Cinque Terre">
    <div class="center">
      <h1>DINAS PARIWISATA JAYAWIJAYA</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="dinasContent">
      <h2>Judul</h2>
    </div>
  </div>
  <div class="col-md-2">
    <div class="dinasMenu">
      <button>Profile</button>
      <button>Visi Dan Misi</button>
      <button>Struktur</button>
      <button>Kontak</button>
    </div>
  </div>
</div>



