<div class="main">
  <div class="headercontainer">
    <img src="../assets/images/photo1.png" alt="Cinque Terre">
    <div class="center">
      <h1>DINAS PARIWISATA JAYAWIJAYA</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="dinasContent">

      <label class="label">Judul</label>
      <input placeholder="title" class="form-control" [(ngModel)]="model.title">

      <angular-editor [(ngModel)]="model.content" [config]="editorConfig"></angular-editor>
      <button>Publis</button>
      <button>Save As Draf</button>
    </div>
  </div>
  <div class="col-md-2">
    <div class="dinasMenu">
      <button>Profile</button>
      <button>Visi Dan Misi</button>
      <button>Struktur</button>
      <button>Kontak</button>
    </div>
  </div>
</div>



