<h2>Destinasi</h2>
<div class="adminpanel">
  <div class="row panel">
    <div class="panelBody">
      <div class="imgBody">
        <img src="././assets/images/wamena3.jpg">
        <div class="title">
          <div class="label label-blue">
            <span>Publish</span>
          </div>
        </div>
        <div class="titleItem">
          <h6>Judul</h6>
        </div>
      </div>
      <div class="items">
        <div class="item">
          <div class="adminContent">

            <div class="label-content"> ini adalah content dari isi</div>
            <div class="dateItem">
              1 Minute Ago <span><strong>Admin</strong></span>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row panel">
    <div class="panelBody">
      <div class="imgBody">
        <img src="././assets/images/hotel1.jpg">
        <div class="title">
          <div class="label label-blue">
            <span>Publish</span>
          </div>
        </div>
        <div class="titleItem">
          <h6>Judul</h6>
        </div>
      </div>
      <div class="items">
        <div class="item">
          <div class="adminContent">

            <div class="label-content"> ini adalah content dari isi</div>
            <div class="dateItem">
              1 Minute Ago <span><strong>Admin</strong></span>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row panel">
    <div class="panelBody">
      <div class="imgBody">
        <img src="././assets/images/wamena3.jpg">
        <div class="title">
          <div class="label label-blue">
            <span>Publish</span>
          </div>
        </div>
        <div class="titleItem">
          <h6>Judul</h6>
        </div>
      </div>
      <div class="items">
        <div class="item">
          <div class="adminContent">

            <div class="label-content"> ini adalah content dari isi</div>
            <div class="dateItem">
              1 Minute Ago <span><strong>Admin</strong></span>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row panel">
    <div class="panelBody">
      <div class="imgBody">
        <img src="././assets/images/wamena3.jpg">
        <div class="title">
          <div class="label label-blue">
            <span>Publish</span>
          </div>
        </div>
        <div class="titleItem">
          <h6>Judul</h6>
        </div>
      </div>
      <div class="items">
        <div class="item">
          <div class="adminContent">

            <div class="label-content"> ini adalah content dari isi</div>
            <div class="dateItem">
              1 Minute Ago <span><strong>Admin</strong></span>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row panel">
    <div class="panelBody">
      <div class="imgBody">
        <img src="././assets/images/wamena3.jpg">
        <div class="title">
          <div class="label label-blue">
            <span>Publish</span>
          </div>
        </div>
        <div class="titleItem">
          <h6>Judul</h6>
        </div>
      </div>
      <div class="items">
        <div class="item">
          <div class="adminContent">

            <div class="label-content"> ini adalah content dari isi</div>
            <div class="dateItem">
              1 Minute Ago <span><strong>Admin</strong></span>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="addItem">
    <i class="material-icons btn" (click)="goTo()">add_circle</i>
</div>
